* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(250, 250, 250);
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
}

.create-new-notes-button {
    width: 300px;
    height: 60px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.create-new-notes-button:hover {
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.create-new-notes-box input {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.create-new-notes-box-add-new-input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.create-new-notes-box p {
    font-size: 20px;
}

.create-new-notes-box-content {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.create-new-notes-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box input {
    padding: 10px;
}

.create-new-notes-box-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-new-notes-box-exit {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    color: white;
}

.create-new-notes-box-add {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    color: white;
}

.create-new-notes-box-button-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box-name::placeholder {
    color: black;
}

.card {
    width: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px auto;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-notes p{
    display: flex;
    height: 25px;
    margin: 10px 0;
    background-color: lightcoral;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.complete {
    background-color: lightgreen;
}

.taskblock {
    position: absolute;
    background-color: gray;
    opacity: 0.8;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.taskblock p {
    font-size: 30px;
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-new-notes-box .color-picker {
    width: 40px;
    height: 40px;
}

.create-new-notes-box-back  {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 0;
}
